.Cabeza{
	float: top;
	width: 100%;
	padding-bottom: 5%;
}
.head{
	background-color: black; 
	color: white;
}
.body{
	background-color: black; 
	color: white;
}
.enlaces1{
	float: left;
	text-decoration: none; 
	color: white; 
	margin-right: 5%; 
	font-weight: bold; 
	padding: 1%; 
	background-color: black;
	border-width: 2%; 
	border-style: solid; 
	border-color: white;
	margin-top: 2.5%;
	}
.enlaces{
	padding-bottom: 2%;
	margin-bottom: 5%;
	background-color: red;
	display: flex;
	align-content: center;
	padding-left: 15%;
}
.texto{
	padding: 3%;
}
.formulario{
	text-align: center;
	border-color: white;
	border-width: 2%;
	border-style: solid;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 5%;
	padding-bottom: 10%;
	font-weight: bolder;
}
.iniciar{
	padding: 1%;
	border-color: white;
	border-width: 2%;
	border-style: solid;
	text-decoration: none;
	margin-top: 5%;
}
.iniciar:hover{
	text-decoration: underline;
	text-decoration-color: white;
	font-size: 90%;
}
.enlaces1:hover{
	text-decoration: underline;
	text-decoration-color: white;
	font-size: 90%;
}
.tabla{
	border-width: 2%;
	border-style: solid;
	border-color: white;
}